@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 95%;
  --foreground: 0 0% 7%;
}

.dark {
  --background: 0 0% 7%;
  --foreground: 0 0% 95%;
}

@layer base {
  html {
    @apply scroll-smooth antialiased;
  }
  body {
    @apply bg-background px-5 text-foreground xl:px-10;
  }
}

@layer utilities {
  .padding-b-gone {
    @apply -mx-5 px-5 xl:-mx-10 xl:px-10;
  }
}
