.cf-button,
.conversational-form,
cf-input,
cf-radio-button.cf-button.highlight cf-radio,
cf-radio-button.cf-button:focus cf-radio,
cf-radio-button.cf-button:hover cf-radio {
  background: hsl(var(--background));
}
cf-input,
cf-input .inputWrapper {
  position: relative;
}
.conversational-form,
cf-input input,
cf-input textarea {
  border-radius: 32px;
  font-size: 18px;
  opacity: 0;
  overflow: hidden;
}
.cf-progressBar,
.conversational-form {
  z-index: 999;
  will-change: opacity;
  top: 0;
}
.conversational-form li,
.conversational-form menu,
.conversational-form ol,
.conversational-form ul,
cf-chat-response text > p.hasImage img {
  margin: 0;
  padding: 0;
}
cf-chat-response,
cf-list-button:active:after {
  visibility: hidden;
}
.cf-button,
.conversational-form a,
.conversational-form button,
cf-chat-response.can-edit,
cf-list-button {
  cursor: pointer;
}
.cf-button,
cf-info {
  color: hsl(var(--foreground));
}
.conversational-form {
  visibility: visible !important;
  line-height: 22px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.cf-button .cf-image.loaded,
.cf-button.animate-in,
.cf-progressBar.show,
.conversational-form--show,
cf-info,
cf-info.show,
cf-input-control-elements.animate-in cf-list-button,
cf-list-button.active:after,
cf-list-button.cf-gradient:before {
  opacity: 1;
}
.conversational-form *,
.conversational-form :after,
.conversational-form :before {
  box-sizing: border-box;
  outline: 0;
}
.conversational-form:before {
  content: "";
  width: 100%;
  height: 50px;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    hsl(var(--background)) 0,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
cf-info,
cf-input {
  height: auto;
  width: 100%;
}
.conversational-form button {
  border: none;
  background: 0 0;
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent !important;
}
.conversational-form a,
.conversational-form a:active,
.conversational-form a:visited {
  color: currentColor;
}
.conversational-form .conversational-form-inner {
  padding: 0 20px 8px;
  position: absolute;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  bottom: 0;
  height: auto;
  overflow: hidden;
  margin-bottom: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: baseline;
}
.conversational-form--enable-animation .conversational-form {
  transition: opacity 0.1875s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.conversational-form * {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  tap-highlight-color: rgba(255, 255, 255, 0);
}
cf-info {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  left: 0;
  top: 25%;
  text-overflow: ellipsis;
  padding-right: 20px;
  margin-top: 12px;
  overflow: hidden;
  display: block;
  transform: translateY(-115%);
  will-change: opacity;
  font-size: 12px;
}
.conversational-form--enable-animation cf-info.show,
.conversational-form--enable-animation cf-list-button:before {
  transition: opacity 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
}
cf-input {
  display: block;
  margin-bottom: 20px;
  margin-top: 0;
  flex: 0 0 auto;
}
cf-input.animate-in input,
cf-input.animate-in textarea {
  transition-delay: 0s, 0s, 0s, 0.4s, 0.4s;
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
cf-input.animate-in cf-input-button.cf-input-button {
  transition-delay:
    0s,
    0s 0.75s;
  transform: scale(1, 1);
}
cf-input input,
cf-input textarea {
  resize: none;
  padding: calc((60px - 4px - 18px) / 2) 60px calc((60px - 4px - 18px) / 2)
    calc((60px - 2px - 18px) / 2);
  outline: 0;
  -webkit-appearance: none;
  -webkit-touch-callout: auto !important;
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
  border: none;
  -webkit-appearance: none;
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  height: 60px;
  min-height: 60px;
  color: hsl(var(--background));
  will-change: box-shadow, background, color, transform, opacity;
  background: hsl(var(--foreground));
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  transform: translateY(40px) rotateX(-40deg);
  transition: 0.3125s !important;
}
cf-input input:-webkit-autofill,
cf-input textarea:-webkit-autofill {
  background-color: hsl(var(--background));
}
cf-input input:active,
cf-input input:focus,
cf-input textarea:active,
cf-input textarea:focus {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.conversational-form--enable-animation cf-input input,
.conversational-form--enable-animation cf-input textarea {
  transition:
    box-shadow 0.75s cubic-bezier(0.215, 0.61, 0.355, 1),
    background 0.75s cubic-bezier(0.215, 0.61, 0.355, 1),
    color 0.75s cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 375ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 375ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
cf-input input:hover::-webkit-input-placeholder,
cf-input textarea:hover::-webkit-input-placeholder {
  color: hsl(var(--background));
  opacity: 0.75;
}
cf-input input:hover::-moz-input-placeholder,
cf-input textarea:hover::-moz-input-placeholder {
  color: hsl(var(--background));
  opacity: 0.75;
}
cf-input input:hover:-moz-input-placeholder,
cf-input textarea:hover:-moz-input-placeholder {
  color: hsl(var(--background));
  opacity: 0.75;
}
cf-input input:hover:-ms-input-placeholder,
cf-input textarea:hover:-ms-input-placeholder {
  color: hsl(var(--background));
  opacity: 0.75;
}
cf-input input::-webkit-input-placeholder,
cf-input textarea::-webkit-input-placeholder {
  color: currentColor;
}
cf-input input::-moz-input-placeholder,
cf-input textarea::-moz-input-placeholder {
  color: currentColor;
}
cf-input input:-moz-input-placeholder,
cf-input textarea:-moz-input-placeholder {
  color: currentColor;
}
cf-input input:-ms-input-placeholder,
cf-input textarea:-ms-input-placeholder {
  color: currentColor;
}
cf-input input[no-animations],
cf-input textarea[no-animations] {
  transition: none !important;
}
cf-input input[rows="1"],
cf-input textarea[rows="1"] {
  min-height: 60px !important;
}
cf-input input:not([rows="1"]),
cf-input textarea:not([rows="1"]) {
  transition-delay: 0.9s !important;
}
cf-input input[rows="2"],
cf-input textarea[rows="2"] {
  min-height: 80px !important;
}
cf-input input[rows="3"],
cf-input textarea[rows="3"] {
  min-height: 100px !important;
}
cf-input input[rows="4"],
cf-input textarea[rows="4"] {
  min-height: 120px !important;
}
cf-input input[rows="5"],
cf-input textarea[rows="5"] {
  min-height: 140px !important;
}
cf-input input[rows="6"],
cf-input textarea[rows="6"] {
  min-height: 160px !important;
}
cf-input-control-elements .cf-button.hide,
cf-input.hide-input cf-input-button,
cf-input.hide-input input,
cf-input.hide-input textarea,
cf-input[error] .cf-input-button {
  display: none;
}
.cf-button[disabled="disabled"],
.conversational-form.done cf-chat-response,
cf-input-button.cf-input-button.microphone-interface.loading:not(.typing),
cf-input-control-elements.hide-nav-buttons cf-list-button,
cf-input[disabled="disabled"],
cf-input[error],
cf-list.disabled {
  pointer-events: none;
}
cf-input[disabled="disabled"] input,
cf-input[disabled="disabled"] textarea {
  opacity: 0.8;
}
cf-input[error] input,
cf-input[error] textarea {
  background: red;
  color: #fff;
}
cf-input[message] input,
cf-input[message] textarea {
  background: hsl(var(--foreground));
  color: #4a4a4a;
}
.cf-button.cf-checkbox-button:focus cf-checkbox,
.cf-button.cf-checkbox-button:hover cf-checkbox,
cf-input[message] .cf-input-button {
  background: hsl(var(--foreground));
}
.cf-button.cf-checkbox-button cf-checkbox:after,
.cf-button.cf-checkbox-button:focus cf-checkbox:after,
.cf-button.cf-checkbox-button:hover cf-checkbox:after {
  top: 1px;
  left: 0;
  width: 15px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13px' height='10px' viewBox='0 0 13 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg transform='translate%28-290.000000, -505.000000%29' fill='%23E5E6EA'%3e%3cg transform='translate%2884.000000, 136.000000%29'%3e%3cg transform='translate%281.000000, 216.000000%29'%3e%3cg transform='translate%28189.000000, 139.000000%29'%3e%3cpolygon points='17.5 18.5 16 20 20 24 29 15.5 27.5 14 20 21'%3e%3c/polygon%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  background-size: 15px 12px;
}
cf-input[message] .cf-input-button svg polygon {
  fill: #4a4a4a;
}
cf-input-button.cf-input-button {
  width: 60px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 0;
  z-index: 3;
  cursor: pointer;
  border-radius: 32px;
  transform-origin: 50% 50%;
  transform: scale(0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: none;
}
.conversational-form--enable-animation cf-input-button.cf-input-button {
  transition:
    background 375ms cubic-bezier(0.215, 0.61, 0.355, 1),
    border 375ms cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 375ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
cf-input-button.cf-input-button .cf-input-icons.cf-microphone {
  transform: scale(0, 0);
  pointer-events: none;
}
cf-input-button.cf-input-button.microphone-interface .cf-input-icons {
  transform-origin: 50% 50%;
  transform: scale(1, 1) rotateX(0) translateZ(0);
  transition: transform 375ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.conversational-form--enable-animation
  .cf-button.cf-checkbox-button
  cf-checkbox,
.conversational-form--enable-animation cf-radio-button.cf-button cf-radio,
cf-chat-response text > p {
  transition: background 375ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
cf-input-button.cf-input-button.microphone-interface
  .cf-input-icons:not(.cf-microphone) {
  pointer-events: none;
  transform: scale(0.25, 0.25) rotateX(90deg) translateZ(0);
}
cf-input-button.cf-input-button.microphone-interface
  .cf-input-icons.cf-microphone,
cf-input-button.cf-input-button.microphone-interface.typing
  .cf-input-icons:not(.cf-microphone) {
  pointer-events: auto;
  transform: scale(1, 1) rotateX(0) translateZ(0);
}
cf-input-button.cf-input-button.microphone-interface.typing
  .cf-input-icons.cf-microphone {
  transform: scale(0.25, 0.25) rotateX(90deg) translateZ(0);
  pointer-events: none;
}
cf-input-button.cf-input-button .cf-input-icons {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
cf-input-button.cf-input-button .cf-input-icons > div {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: 50% 50%;
  will-change: transform, opacity;
}
.conversational-form--enable-animation
  cf-input-button.cf-input-button
  .cf-input-icons
  > div {
  transition:
    transform 375ms cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 375ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
cf-input-button.cf-input-button div.cf-icon-progress {
  transform: rotateX(0);
  opacity: 1;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg fill='white'%3E%3Cpolygon transform='translate%2815.500000, 15.500000%29 rotate%2890.000000%29 translate%28-15.500000, -15.500000%29 ' points='22 14.6875 12.111875 14.6875 16.6496875 10.1496875 15.5 9 9 15.5 15.5 22 16.6496875 20.8503125 12.111875 16.3125 22 16.3125'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 45px 45px;
}
.dark cf-input-button.cf-input-button div.cf-icon-progress {
  transform: rotateX(0);
  opacity: 1;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg fill='black'%3E%3Cpolygon transform='translate%2815.500000, 15.500000%29 rotate%2890.000000%29 translate%28-15.500000, -15.500000%29 ' points='22 14.6875 12.111875 14.6875 16.6496875 10.1496875 15.5 9 9 15.5 15.5 22 16.6496875 20.8503125 12.111875 16.3125 22 16.3125'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 45px 45px;
}
.cf-button:active > div,
cf-input-button.cf-input-button:active {
  opacity: 0.2;
}
cf-input-button.cf-input-button:focus,
cf-input-button.cf-input-button:hover {
  background: hsl(var(--foreground));
  border: 0;
}
cf-input-button.cf-input-button:focus:after,
cf-input-button.cf-input-button:hover:after,
cf-input-control-elements.hide-nav-buttons cf-list-button:after,
cf-input-control-elements.one-row cf-list-button {
  opacity: 0;
}
cf-input[tag-type="group"] cf-input-button.cf-input-button,
cf-input[tag-type="select"] cf-input-button.cf-input-button {
  height: 60px;
}
cf-input[tag-type="group"].hide-input cf-input-button,
cf-input[tag-type="select"].hide-input cf-input-button {
  display: block;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
cf-input[tag-type="group"].hide-input cf-input-control-elements,
cf-input[tag-type="select"].hide-input cf-input-control-elements {
  margin-bottom: 60px;
}
cf-input[error=""].hide-input cf-input-button .cf-icon-progress {
  filter: saturate(0);
  animation: 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both shake;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
@keyframes cf-spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes cf-arrow-up {
  0%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-40px);
  }
  40.001% {
    transform: translateY(40px);
  }
  80% {
    transform: translateY(-5px);
  }
  90% {
    transform: translateY(2px);
  }
}
cf-list-button {
  display: block;
  position: absolute;
  z-index: 2;
  height: calc(100% - 16px);
  width: 38px;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
}
cf-chat-response,
cf-list,
cf-list-button {
  will-change: height;
}
cf-list-button.active {
  pointer-events: auto;
}
cf-list-button:first-child {
  left: 0;
}
cf-list-button:first-child:before {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0,
    hsl(var(--background)) 100%
  );
}
cf-list-button:first-child:after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8' standalone='no'?%3e%3csvg viewBox='0 0 6 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg stroke='none' stroke-width='1' fill='%23000000' fill-rule='evenodd'%3e%3cg transform='translate%28-1230.000000, -567.000000%29' %3e%3cg transform='translate%28738.000000, 178.000000%29'%3e%3cg transform='translate%280.000000, 340.000000%29'%3e%3cg transform='translate%28466.000000, 0.000000%29'%3e%3cpolygon transform='translate%2829.000000, 54.000000%29 rotate%28-180.000000%29 translate%28-29.000000, -54.000000%29 ' points='26 50.1538462 27.125 49 32 54 27.125 59 26 57.8461538 29.75 54'%3e%3c/polygon%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
cf-list-button:nth-child(2) {
  right: 0;
}
cf-list-button:nth-child(2):before {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    hsl(var(--background)) 100%
  );
}
cf-list-button:nth-child(2):after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8' standalone='no'?%3e%3csvg viewBox='0 0 6 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg stroke='none' stroke-width='1' fill='%23000000' fill-rule='evenodd'%3e%3cg transform='translate%28-1230.000000, -567.000000%29'%3e%3cg transform='translate%28738.000000, 178.000000%29'%3e%3cg transform='translate%280.000000, 340.000000%29'%3e%3cg transform='translate%28466.000000, 0.000000%29'%3e%3cpolygon points='26 50.1538462 27.125 49 32 54 27.125 59 26 57.8461538 29.75 54'%3e%3c/polygon%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
cf-list-button:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  will-change: opacity;
}
cf-list-button:after {
  content: "";
  display: block;
  width: 6px;
  height: 10px;
  position: absolute;
  background-size: 6px 10px;
  background-repeat: no-repeat;
  top: calc(50% - 5px);
  left: calc(50% - 3px);
  opacity: 0;
  will-change: opacity;
}
.conversational-form--enable-animation cf-list-button:after {
  transition: opacity 375ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
@keyframes cf-arrow-right {
  0%,
  100% {
    transform: translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateX(20px);
    opacity: 0;
  }
  40.001% {
    transform: translateX(-20px);
    opacity: 0;
  }
  80% {
    transform: translateX(4px);
    opacity: 1;
  }
  90% {
    transform: translateX(-2px);
    opacity: 1;
  }
}
@keyframes cf-arrow-left {
  0%,
  100% {
    transform: translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateX(-20px);
    opacity: 0;
  }
  40.001% {
    transform: translateX(20px);
    opacity: 0;
  }
  80% {
    transform: translateX(-4px);
    opacity: 1;
  }
  90% {
    transform: translateX(2px);
    opacity: 1;
  }
}
.cf-progressBar {
  background-color: hsl(var(--background));
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.cf-progressBar .bar {
  width: 0;
  height: 100%;
  background-color: hsl(var(--foreground));
  transition: width 0.3s ease-in-out;
  will-change: width;
}
cf-chat {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: baseline;
  margin-bottom: -10px;
}
cf-chat scrollable {
  width: calc(100% + 40px);
  padding-right: 40px;
  max-height: 100%;
  min-height: 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}
cf-chat .scrollableInner {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 40px;
  overflow: hidden;
}
cf-chat .scrollableInner.scroll {
  flex: 1 1 auto;
  height: 100%;
  overflow-y: scroll;
  margin-bottom: 20px;
}
@supports (-ms-ime-align: auto) {
  cf-chat scrollable {
    overflow: hidden;
  }
  cf-chat .scrollableInner.scroll {
    margin-right: -16px;
  }
}
cf-chat-response {
  max-width: 90%;
  min-width: 120px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding-left: 62px;
  margin-top: 8px;
  color: hsl(var(--background));
  margin-left: 0;
  margin-right: auto;
  word-break: break-all;
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  position: absolute;
  transition: 0.3375s cubic-bezier(0.215, 0.61, 0.355, 1);
  padding-bottom: 12px;
}
@media (min-width: 1152px) {
  cf-input-button.cf-input-button:focus .cf-icon-progress,
  cf-input-button.cf-input-button:hover .cf-icon-progress {
    animation: 0.75s cubic-bezier(0.645, 0.045, 0.355, 1) cf-arrow-up;
  }
  cf-list-button:hover:first-child {
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 0,
      hsl(var(--background)) 75%
    );
  }
  cf-list-button:hover:first-child:after {
    animation: 0.75s cubic-bezier(0.645, 0.045, 0.355, 1) cf-arrow-left;
  }
  cf-list-button:hover:nth-child(2) {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0,
      hsl(var(--background)) 75%
    );
  }
  cf-list-button:hover:nth-child(2):after {
    animation: 0.75s cubic-bezier(0.645, 0.045, 0.355, 1) cf-arrow-right;
  }
  cf-chat-response {
    max-width: 70%;
  }
}
cf-chat-response.show {
  position: relative;
  visibility: visible;
}
cf-chat-response.can-edit:hover text > p {
  scale: 1.05;
}
cf-chat-response.user {
  justify-content: flex-end;
  margin-right: 0;
  margin-left: auto;
  padding-left: 0;
  padding-right: calc(50px + 14px);
  color: hsl(var(--background));
}
cf-chat-response.user thumb {
  left: auto;
  right: 0;
}
cf-chat-response.user text > p {
  background: hsl(var(--foreground));
  border-radius: 24px 0 24px 24px;
  margin-right: 0;
  margin-left: auto;
}
cf-chat-response.robot.peak-thumb thumb,
cf-chat-response.user.peak-thumb thumb {
  transform: scale(1, 1) translateY(0);
  opacity: 1;
}
.conversational-form--enable-animation cf-chat-response.robot.peak-thumb thumb,
.conversational-form--enable-animation cf-chat-response.user.peak-thumb thumb {
  transition-delay: 0.2s, 0.2s, 0.2s;
}
cf-chat-response.disabled {
  pointer-events: none;
  color: #686d81;
}
cf-chat-response.disabled text {
  background: #b0b0b0;
}
cf-chat-response[thinking] text thinking {
  display: block;
}
cf-chat-response text {
  display: flex;
  flex-flow: column;
  align-items: start;
  position: relative;
  min-height: 40px;
  height: auto;
  white-space: pre-wrap;
  word-break: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
cf-chat-response text thinking,
cf-input-control-elements {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: relative;
}
cf-chat-response text > div {
  display: inline-block;
}
cf-chat-response text thinking span:first-child {
  animation-delay: 0.66667 s;
}
cf-chat-response text thinking span:nth-child(2) {
  animation-delay: 1.33333 s;
}
cf-chat-response text thinking span:nth-child(3) {
  animation-delay: 2 s;
}
cf-chat-response text strong {
  font-weight: 900;
}
cf-chat-response text > p {
  display: inline-block;
  margin: 0;
  padding: 14px 21px;
  background: hsl(var(--foreground));
  border-radius: 0 24px 24px;
}
.conversational-form--enable-animation cf-chat-response text > p {
  will-change: transform, opacity;
  transform: scale(0, 0) translateY(30px);
  opacity: 0;
}
.conversational-form--enable-animation cf-chat-response text > p.show {
  animation: 0.2625s cubic-bezier(0.215, 0.61, 0.355, 1) 375ms forwards moveIn;
}
cf-chat-response text > p.hasImage {
  padding: 0;
  overflow: hidden;
  background: 0 0;
}
cf-chat-response text > p.hasImage > span {
  display: block;
  padding: 5px 6px 6px 18px;
  background: hsl(var(--foreground));
}
cf-chat-response text > p:not(:only-child) {
  border-radius: 0 24px 24px 0;
}
cf-chat-response text > p:not(:only-child):first-child {
  border-radius: 24px 24px 24px 0;
}
cf-chat-response text > p:not(:only-child):last-child {
  border-radius: 0 24px 24px;
}
cf-chat-response text > p:not(:only-child):not(:first-child) {
  margin-top: 6px;
}
cf-chat-response text > p > img {
  max-width: 140px;
  padding-bottom: 8px;
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 6px;
}
cf-chat-response text:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  padding-right: 30px;
}
cf-chat-response text thinking {
  user-select: none;
  display: none;
  transform-origin: 0 50%;
  transform: scale(1.5);
}
cf-chat-response thumb {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: hsl(var(--foreground));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0;
  overflow: hidden;
  transform-origin: 50% 50%;
  transform: scale(0.001, 0.001) translateY(50px);
  will-change: transform, opacity;
}
.conversational-form--enable-animation cf-chat-response thumb {
  transition:
    transform 0.2625s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 375ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
cf-chat-response thumb > span {
  display: block;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
  font-size: 14.4px;
}
cf-chat-response thumb > span[length="1"] {
  font-size: 28.8px;
}
cf-chat-response thumb > span[length="3"] {
  font-size: 11.88px;
}
@keyframes dot-fade {
  0%,
  100%,
  33.333% {
    opacity: 1;
  }
  15.1111% {
    opacity: 0;
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05, 1.05);
    opacity: 0.85;
  }
}
@keyframes moveIn {
  0% {
    transform: scale(1, 1) translateY(60px);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translateY(0);
    opacity: 1;
  }
}
cf-input-control-elements {
  width: auto;
  overflow: hidden;
  display: block;
  z-index: 0;
  user-select: none;
  visibility: hidden;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
cf-input-control-elements .cf-button {
  margin-bottom: 10px;
  display: inline-block;
}
cf-input-control-elements.resized {
  visibility: visible;
  height: auto;
}
cf-input-control-elements.one-row cf-list {
  height: auto;
}
cf-input-control-elements.two-row cf-list {
  white-space: normal;
  height: auto;
}
cf-input-control-elements.animate-in cf-list:last-of-type {
  min-height: 56px;
}
cf-input-control-elements.two-row.animate-in cf-list:last-of-type {
  min-height: 112px;
}
.conversational-form--enable-animation cf-list,
.conversational-form--enable-animation cf-list-button {
  transition: height 375ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
cf-list {
  display: block;
  height: auto;
  cursor: move;
  white-space: nowrap;
}
.cf-button {
  border: 1px solid hsl(var(--foreground));
  border-radius: calc(24px * 0.88);
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  transform: translateZ(0);
  font-size: 16px;
  transform-origin: 0 100%;
  will-change: opacity, background;
  opacity: 0;
}
.cf-button > div {
  position: relative;
  margin: 12px 22px;
}
.cf-button.has-image {
  max-width: 160px;
}
@media (max-width: 1152px) {
  .conversational-form {
    font-size: 16px;
  }
  .conversational-form .conversational-form-inner {
    padding: 0 14px;
  }
  cf-input {
    margin-bottom: 14px;
  }
  cf-chat-response {
    padding-left: 47.71429px;
  }
  cf-chat-response.user {
    padding-right: 47.71429px;
  }
  cf-chat-response text > p {
    padding: 11px 17px;
  }
  cf-chat-response thumb {
    width: 39.68254px;
    height: 39.68254px;
  }
  .cf-button {
    font-size: 14px;
  }
  .cf-button > div {
    margin: 10px 22px;
  }
  .cf-button.has-image {
    max-width: 132px;
  }
}
.cf-button.has-image > div {
  margin: 8px 22px 10px;
}
.cf-button.cf-checkbox-button cf-checkbox,
cf-radio-button.cf-button cf-radio {
  display: block;
  float: left;
  will-change: background;
  margin-right: 8px;
  margin-left: -10px;
  position: relative;
}
.conversational-form--enable-animation .cf-button {
  transition:
    opacity cubic-bezier(0.215, 0.61, 0.355, 1),
    background 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.conversational-form--enable-animation .cf-button.animate-in {
  transition-duration: 375ms, 0.75s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1),
    cubic-bezier(0.215, 0.61, 0.355, 1);
}
.conversational-form--enable-animation .cf-button.animate-in:nth-child(2n) {
  transition-delay: 50ms, 0s;
}
.conversational-form--enable-animation .cf-button.animate-in:nth-child(odd) {
  transition-delay: 0.15s, 0s;
}
.cf-button.animate-in.animate-out {
  transform-origin: 75% 100%;
  opacity: 0;
}
.cf-button:not(:last-child) {
  margin-right: 10px;
}
.cf-button:focus,
.cf-button:focus:not([checked="checked"]),
.cf-button:hover,
.cf-button:hover:not([checked="checked"]) {
  background: hsl(var(--foreground));
  color: hsl(var(--background));
}
.cf-button[checked="checked"]:not(:focus):not(:hover):not(.highlight),
.cf-button[selected="selected"]:not(:focus):not(:hover):not(.highlight) {
  color: #e5e6ea;
  background: hsl(var(--foreground));
}
.cf-button[disabled="disabled"].animate-in {
  opacity: 0.5;
}
.cf-button .cf-image {
  width: 100%;
  height: auto;
  will-change: opacity;
  transition: opacity 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}
.cf-button.cf-checkbox-button:focus cf-checkbox:after,
.cf-button.cf-checkbox-button:hover cf-checkbox:after {
  transform: scale(1, 1);
  height: 12px;
  transform-origin: 50% 50%;
}
.cf-button.cf-checkbox-button.no-text {
  padding: 18px 24px;
}
.cf-button.cf-checkbox-button.no-text cf-checkbox {
  margin-right: 0;
  margin-left: 0;
}
.cf-button.cf-checkbox-button.has-image cf-checkbox,
cf-radio-button.cf-button.has-image cf-checkbox {
  margin-left: 0;
}
.cf-button.cf-checkbox-button cf-checkbox {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  border: 1px solid hsl(var(--foreground));
  margin-top: 1px;
}
.cf-button.cf-checkbox-button cf-checkbox:after {
  content: "";
  position: absolute;
  display: block;
  height: 12px;
  background-repeat: no-repeat;
  transform-origin: 50% 50%;
  will-change: transform;
  transform: scale(0, 0);
}
.conversational-form--enable-animation
  .cf-button.cf-checkbox-button
  cf-checkbox:after {
  transition: transform 0.1875s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cf-button.cf-checkbox-button[checked="checked"],
.cf-button.cf-checkbox-button[selected="selected"],
cf-radio-button.cf-button[checked="checked"] {
  background: hsl(var(--foreground)) !important;
  color: #e5e6ea !important;
}
.cf-button.cf-checkbox-button[checked="checked"] cf-checkbox,
.cf-button.cf-checkbox-button[selected="selected"] cf-checkbox {
  background: rgba(48, 48, 48, 0);
  border: none;
}
.cf-button.cf-checkbox-button[checked="checked"] cf-checkbox:after,
.cf-button.cf-checkbox-button[selected="selected"] cf-checkbox:after {
  transform: scale(1, 1);
}
.conversational-form--enable-animation
  .cf-button.cf-checkbox-button[checked="checked"]
  cf-checkbox:after,
.conversational-form--enable-animation
  .cf-button.cf-checkbox-button[selected="selected"]
  cf-checkbox:after {
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
cf-options-list {
  display: block;
  width: auto;
}
cf-radio-button.cf-button cf-radio {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: 0 0;
  border: 1px solid hsl(var(--foreground));
  margin-top: 2px;
}
cf-radio-button.cf-button[checked="checked"] cf-radio {
  background: hsl(var(--background));
  border: 1px solid hsl(var(--background));
  pointer-events: none;
}
